html{
height:100%;
}
body{
height:100%;
background-color:liner-gradient(#226666);
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

}
.game{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);
box-shadow:0 1px 4px rgba(0,0,0,0.5);
padding:15px;
background-color:red;
border-radius:5px;
}
.grid{
display:grid;
grid-template-columns:80px 80px 80px 80px;
grid-template-rows:80px 80px 80px 80px;
border:1px solid black;

}
.grid button{
background-color:#cfcfcf;
color:blue;
font-size:24px;
font-weight:bold;
border:1px solid black;
outline:none;
cursor:pointer;
}
}
.footer:{
margin-top:15px;
display:flex;
justify-content:space-between;
}
.footer button{
border:none;
font-size:20px;
font-weight:bold;
border-radius:5px;
box-shadow:0 1px 4px rgba(0,0,0,0.5);
padding:5px;
width:80px;
background-color:yellow;
color:blue;
outline:none;
cursor:pointer;
}
}
.footer button:hover{
 color:yellow;
 background-color:blue;
}
.footer span{
flex:1;
text-align:center;
font-size:20px;
color:yellow;
font-weight:bold;
margin:auto 0;
}

.message{
color:red;
height:80px;
}
